.example {
  width: 150px;
  height: 150px;
  border-style: solid;
  background-color: red;
  position: relative;
  animation-name: colorChange;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.example:hover {
  width: 150px;
  height: 150px;
  border-style: solid;
  background-color: red;
  animation-name: changePosition;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.example2:hover {
  width: 150px;
  height: 150px;
  border-style: solid;
  background-color: red;
  animation-name: enlarge;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes enlarge {
  0% {width: 150px;height: 150px; font-size:100%; }
  50% {width: 500px;height: 150px; font-size:100%;}
  100% {width: 150px;height: 150px; font-size:100%; }
}

@keyframes changeSize {
  0% {width: 150px;height: 150px; font-size:100%; }
  50% {width: 25px;height: 25px; font-size:25%;}
  100% {width: 150px;height: 150px; font-size:100%;}
}

@keyframes changePosition {
    0%   {background-color:red; left:0px; top:0px;}
    50%  {background-color:yellow; left:100px; top:0px;}
   100%  {background-color:red; left:0px; top:0px;} 
}

@keyframes colorChange {
    0%   {background-color: red;}
    33%  {background-color: white;}
    66%  {background-color: blue;}
}

.example2 {
  width: 150px;
  height: 150px;
  border-style: solid;
  background-color: red;
  position: relative;
  animation-name: changeSize;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

